---
Name: graphql-devtool-routes
only:
  environment: 'dev'
---
SilverStripe\Dev\DevelopmentAdmin:
  registered_controllers:
    graphiql:
      controller: 'SilverStripe\GraphQLDevTools\GraphiQLController'
